h1 {
    text-align: center;
}

.data{
	display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

td{
	text-align: center;
	width: 33%;

	/* white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; */
}

table{
	table-layout: fixed;
    margin: auto;
	empty-cells: show;
	/* width: auto; */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.dropdown{
	/* font-style: italic; */
	text-align: center;
	color: BLUE;
	font-family: monospace;
	font-size: 24px;
	font-kerning: normal;
}


.droptable {
	/* display: none; */
	text-align: center;
	background-color: #fcfcfc;
	visibility: visible;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 1s;
}

.droptable td:hover {
	content: "hello i am under the water byeee";
	background-color: #1a001a;
	font-size: 17px;
	transition-property: font-size;
	transition-duration: .5s;
}
